<div>
    <div class="sign-up-title">
        <h2 mat-dialog-title>SIGN UP</h2>
        <button mat-dialog-close class="sign-up-close-btn">X</button>
    </div>
    <div class="sign-up-content">
        <form>

            <div class="form-group-pair">
                <input autocomplete="off" class="sign-up-item-box" type="text" name="name" placeholder="*name:" id="name" [(ngModel)]="name">
                <input autocomplete="off" class="sign-up-item-box" type="text" name="surname" placeholder="*surname:" id="surname" [(ngModel)]="surname">
            </div>


            <input autocomplete="off" class="sign-up-item-box-2" type="text" name="username" placeholder="*username:" id="username" [(ngModel)]="username">
            <input autocomplete="off" class="sign-up-item-box-2" type="password" name="password" placeholder="*password:" id="password" [(ngModel)]="password">
            <input autocomplete="off" class="sign-up-item-box-2" type="password" name="confirm" placeholder="*confirm password:" id="confirm" [(ngModel)]="confirm">
            <input autocomplete="off" class="sign-up-item-box-2" type="text" name="email" placeholder="*email:" id="email" [(ngModel)]="email">
            <input autocomplete="off" class="sign-up-item-box-2" type="text" name="address" placeholder="*address:" id="address" [(ngModel)]="address">
            <mat-dialog-actions>
                <button class="sign-up-btn" (click)="signUp()">SIGN UP</button>
            </mat-dialog-actions>
        </form>

        <div [ngClass]="{'acc-msg': acc, 'err-msg': !acc}" *ngIf="msg != ''">
            <p>{{msg}}</p>
        </div>

    </div>
</div>