<div class="main">
    <header>
        <h1 class="title" routerLink="/user">RENT A CAR</h1>

        <div class="btn-container">
            <button class="btn" (click)="myRents()">my rents</button>
            <button class="btn" routerLink="/user">cars</button>
            <button class="btn" (click)="logOut()">log out</button>
        </div>
    </header>
    <section class='content'>
        <router-outlet></router-outlet>
    </section>

    <footer>
        <h4 class="mat-caption">&copy; Predrag Mirkovic</h4>
    </footer>
</div>